@use 'sass:math';

* {
    margin: 0;
    padding: 0;
}

.title {
    z-index: 1;
	background: #050505;
}

.box ul li {
    position: absolute;
    width: 35px;
    height: 35px;
    list-style: none;
    opacity: 0;
    background: radial-gradient(rgb(115, 15, 68), transparent, transparent);
    bottom: 0;
    left: 10vh;
    animation: animate 15s linear infinite;
}

.box ul li:nth-child(2) {
    left: 37vw;
    animation-delay: 2s;
}

.box ul li:nth-child(3) {
    left: 30vw;
    animation-delay: 1s;
}

.box ul li:nth-child(4) {
    left: 60vw;
    animation-delay: 6s;
}

.box ul li:nth-child(5) {
    left: 75vw;
    animation-delay: 4s;
}

.box ul li:nth-child(6) {
    left: 85vw;
    animation-delay: 6s;
}

.box ul li:nth-child(7) {
    left: 54vw;
    animation-delay: 2s;
}

.box ul li:nth-child(8) {
    left: 26vw;
    animation-delay: 4s;
}

@keyframes animate {
    0% {
        transform: scale(0);
        opacity: 0.7;
        bottom: 0;
    }
    100% {
        transform: scale(10);
        opacity: 0;
        bottom: 100vh;
    }
}