.cellInfoWrapper {
    position: relative;
    height: fit-content;
    background-color: transparent;
    color: #f5f1e9;
    user-select: none;
    margin-bottom: 75px;
    padding-right: 20px;
}

.cellInfoWrapperImg {
    visibility: visible;
    width: 100%;
    height: 115%;
    transform: translate(0,0);
    position: absolute;
    object-fit:fill;
    -webkit-user-drag: none;
}

.cellInfo {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    font-family: 'Jersey 10', sans-serif;
    color: #d2b48c;
    text-shadow: 1px 1px 2px #000000;
    text-shadow: rgba(0, 136, 255, 0.6);
    font-size: calc(3px + 3vw);
    line-height: calc(3px + 4vh);
    text-align: center;
    user-select: none;
}

.cellInfos {
    position: relative;
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
}

.cellInfoText {
    position: relative;
    margin-left: 20px;
}

.cellImg {
    position: relative;
    width: 100px;
    height: 100px;
    -webkit-user-drag: none;
}

.startInfoParagraph {
    position: relative;
    font-family: 'Jersey 10', sans-serif;
    text-align: center;
    color: #d2b48c;
    text-shadow: 1px 1px 2px #000000;
    text-shadow: rgba(0, 136, 255, 0.6);
    font-size: calc(2px + 1.3vw);
    user-select: none;
}

.infoLabel {
    position: relative;
    font-family: 'Jersey 10', sans-serif;
    color: #d2b48c;
    text-shadow: 1px 1px 2px #000000;
    text-shadow: rgba(0, 136, 255, 0.6);
    font-size: calc(2px + 1.3vw);
    user-select: none;
}

.infoLabel span {
    font-style: italic;
    color: #dd4343;
}

@font-face {
  font-family: 'Jersey 10';
  src: url('@/assets/fonts/Jersey10-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
