* {
    padding:0;
    margin:0;
}

.grid-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
}	

.spiral-grid {
	display: grid;
	grid-template-columns: repeat(8, 50px);
	grid-template-rows: repeat(8, 50px);
	gap: 50px;
	position: relative;
	left: 11px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
	border: 1px solid #000;
	font-size: 16px;
	height: 50px;
	width: 50px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #ddd;
}

.button-null {
	background-color: rgb(0, 255, 89);
	cursor: default;
	padding: 25px;
	position: relative;
	top: -23px;
	left: -20px;
}

/* Common padding for buttons */
.button-padding-x {
	padding: 0px 20px;
}
.button-padding-y {
	padding: 20px 0px;
}

/* Common relative positioning */
.button-left-adjust {
	position: relative;
	left: -40px;
}
.button-top-adjust {
	position: relative;
	top: -40px;
}

/* Buttons with X padding */
.button-1, .button-2, .button-3, .button-4, .button-5, .button-6,
.button-7, .button-15, .button-16, .button-17, .button-18, .button-19,
.button-20, .button-21, .button-28, .button-29, .button-30, .button-31,
.button-32, .button-33, .button-39, .button-40, .button-41, .button-42, .button-43,
.button-48, .button-49, .button-50, .button-51, .button-55, .button-56,
.button-57, .button-58, .button-60, .button-61
{
	@extend .button-padding-x;
}

/* Buttons with Y padding */
.button-8, .button-9, .button-10, .button-11, .button-12, .button-13, 
.button-14, .button-22, .button-23, .button-24, .button-25,
.button-26, .button-27, .button-34, .button-35, .button-36, .button-37,
.button-38, .button-44, .button-45, .button-46, .button-47, .button-52,
.button-53, .button-54, .button-58, .button-59, .button-62
{
	@extend .button-padding-y;
}

/* Left adjustment */
.button-15, .button-16, .button-17, .button-18, .button-19,
.button-39, .button-40, .button-41, .button-42, .button-43,
.button-20, .button-21, .button-55, .button-56, .button-57
{
	@extend .button-left-adjust;
}

/* Top adjustment */
.button-22, .button-23, .button-24, .button-25, .button-26, .button-27,
.button-44, .button-45, .button-46, .button-47, .button-58, .button-59
{
	@extend .button-top-adjust;
}

/* Extra Button styles */
.button-1 {
	background-color: rgb(115, 178, 255);
}

@media (max-width: 48em) {
	.spiral-grid {
		gap: 20px;
	}

	.button-padding-x {
		padding: 0px 5px;
		height: 70%;
	}
	.button-padding-y {
		padding: 5px 0px;
		width: 70%;
	}

	.button-left-adjust {
		position: relative;
		left: -25px;
	}
	.button-top-adjust {
		position: relative;
		top: -25px;
	}

	.button-null {
		background-color: rgb(0, 255, 89);
		cursor: default;
		padding: 15px;
		position: relative;
		top: -23px;
		left: -20px;
	}

	.button-63 {
		width: 35px;
		height: 35px;
	}

	.button-58 {
		height: 50px;
	}
}

@media (max-width: 35em) {
	.spiral-grid {
		gap: 10px;
	}

	.button-padding-x {
		padding: 0px 1px;
		height: 50%;
	}
	.button-padding-y {
		padding: 1px 0px;
		width: 50%;
	}

	.button-left-adjust {
		position: relative;
		left: -27px;
	}
	.button-top-adjust {
		position: relative;
		top: -27px;
	}

	.button-null {
		background-color: rgb(0, 255, 89);
		cursor: default;
		padding: 8px;
		position: relative;
		top: -22px;
		left: -20px;
	}

	.button-63 {
		width: 25px;
		height: 25px;
	}

	.button-58 {
		height: 50px;
	}
}

@media (max-width: 30em) {
	.spiral-grid {
		grid-template-columns: repeat(8, 40px);
		grid-template-rows: repeat(8, 40px);
		gap: 5px;
	}

	.button {
		font-size: 13px;
	}

	.button-padding-x {
		width: 37px;
		height: 50%;
	}
	.button-padding-y {
		height: 37px;
		width: 50%;
	}

	.button-left-adjust {
		position: relative;
		left: -19px;
	}
	.button-top-adjust {
		position: relative;
		top: -19px;
	}

	.button-null {
		background-color: rgb(0, 255, 89);
		cursor: default;
		width: 30px;
		height: 30px;
		position: relative;
		top: -13px;
		left: -13px;
	}

	.button-63 {
		width: 20px;
		height: 20px;
	}
}