.staticInfoCell {
    position: absolute;
    left: 77%;
    top: 18%;
    width: 17%;
    height: 35%;
    background-color: rgba(101, 67, 33);
    border-radius: 20px;
    z-index: 2;
    color: #f5f1e9;
    padding: 20px;
    user-select: none;
    margin: 0;
}