body{
    overflow-y: hidden;
    background-color: rgb(35, 36, 44);
}

@keyframes navbarOver {
    from{width: var(--target-width);}
    to{width: 25vw;}
}

@keyframes navbarLeave {
    from{width: var(--target-width);}
    to{width: 5vw;}
}

.navbar{
    border-radius: 25px;
    float: left;
    width: 5vw;
    height: 29vh;
    background-color: rgb(64, 62, 70);
}

.cell, .firstCell{
    pointer-events: none;
    text-align: left;
    display: flex;
    justify-content: left;
    padding: 1vh;
    height: 5vh;
}

.cell{
    border-top: solid 1px black;
}

.navbarImage{
    height: 5vh;
    width: 5vh;
    margin-top: auto;
    margin-bottom: auto;
}

.navbarTitle{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    color: white;
}

.fade-enter-active{
    transition: opacity 0.5s ease-in-out;
}

.fade-leave-active {
    transition: opacity 0.3s ease-in-out;
}

.fade-enter, .fade-leave-to{
    opacity: 0;
}