.pawnContainer {
	position: absolute;
	z-index: 1;
}

.button-0 .pawnContainer {
	visibility: visible;
	bottom: 5px;
}

.pawnImg {
	width: 80px;
	height: 80px;
	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
	margin-bottom: 20px;
	overflow: visible;
}