.pawn-img {
    width: 50px;
    height: 50px;
    object-fit: contain; // or 'cover' if you prefer it to crop a bit to fill
    pointer-events: none;
}

.pawn-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 25%;
    z-index: 1;
    pointer-events: none;
}  
  