@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html {
  overflow-y: scroll;
}

.question-wrapper {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backdrop-filter: blur(16px);
  transform: translate(-50%, -50%);
  z-index: 2;
  top: 50vh;
  left: 50vw;
  width: 100%;
  height: 100%;
}

.carousel {
  position: relative;
  max-width: 600px;
  width: 100%;
  background: rgba(20, 20, 20, 0.5);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;

}

.question-text {
  font-size: 1.5rem;
  color: #d2b48c;
  margin-bottom: 20px;
}

.questIndex{
  margin-right: 0px;
  margin-left: auto;
}

.options button {
  background: transparent;
  border: 2px solid #d2b48c;
  color: #d2b48c;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  margin: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.options button:hover:not(:disabled) {
  background: #d2b48c;
  color: #834b02;
}

.options button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.feedback {
  margin-top: 10px;
  font-weight: 600;
}

.result {
  font-size: 1.8rem;
  color: #d2b48c;
  margin-top: 30px;
  animation: flicker 2s infinite ease-in-out;
}

.nav-buttons-wrapper {
  min-height: 35px;
  margin-top: 20px;
  position: relative;
}

.nav-buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  top: 0;
  left: 0;
}

.nav-buttons button {
  z-index: 2;
  background: #d2b48c;
  border: none;
  color: #834b02;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  //   transition: background 0.3s ease;
}

.nav-buttons button:hover {
  background: #ffffff;
}

/* Right or wrong answer style */
.rightAns {
  color: green;
  width: fit-content;
  height: fit-content;
}

.wrongAns {
  color: red;
  width: fit-content;
  height: fit-content;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.85;
  }
}
