@use 'sass:math';

:root {
	--shake-intensity: #{math.random() * 2}px;
	--shake-rotation: #{math.random() * 2}deg;
	--shake-scale: 1.005;
	--neon-effect: 0 0 0 transparent,
    	0 0 20px rgba(230, 230, 230, 0.8),
    	0 0 50px rgba(230, 230, 230, 0.6),
    	0 0 100px rgba(230, 230, 230, 0.4),
    	0 0 200px rgba(230, 230, 230, 0.2),
    	0 0 300px rgba(230, 230, 230, 0.1);
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-user-select: none;
	user-select: none;
}

@font-face {
  font-family: 'Jersey 10';
  src: url('@/assets/fonts/Jersey10-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'AlbercioPixel';
	src: url('~/assets/fonts/AlbercioPixel.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CeniosPixel';
	src: url('~/assets/fonts/CeniosPixel.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ArbanePixel';
	src: url('~/assets/fonts/ArbanePixel.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pixelmax';
	src: url('~/assets/fonts/Pixelmax.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HABESHAPIXELS';
	src: url('~/assets/fonts/HABESHAPIXELS.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LightPixel';
	src: url('~/assets/fonts/LightPixel.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SquarePixel';
	src: url('~/assets/fonts/SquarePixel.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.title {
	background-image: url('~/assets/images/background.png');
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

.titleImage {
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-ms-user-drag: none;
	z-index: 2;
	max-width: 40%;
	height: auto;
	//margin-bottom: 2rem;
}

.buttons {
	z-index: 2;
	display: flex;
	flex-direction: column;
	//margin-top: 4vh;
	gap: 2rem;
	align-items: center;
	overflow: visible;
}

.buttons button {
	font-size: 2.5rem;
 	font-family: 'Jersey 10', sans-serif;
	width: 15vw;
	height: fit-content;
	overflow: visible;

	color: rgb(159, 91, 48);
	border: none;
	background-image: url('@/assets/images/buttonBackground.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;

	transition: all 0.3s ease;
	overflow: visible;
	cursor: pointer;
}

.buttons button:hover {
	transform: scale(1.1);
	color: rgb(152, 20, 91);
}

.buttons button:hover span {
	text-shadow: var(--neon-effect);
	overflow: visible;
}

.buttons button:active {
	transform: scale(0.98);
	color: rgb(186, 27, 112);
}

.pixelText{
	font-size: 2.5rem;
	font-family: 'Hardpixel', sans-serif;
	color: white;
}

@keyframes shakeScale {

	0%,
	100% {
		transform: translate(0, 0) rotate(0deg) scale(1);
	}

	25% {
		transform: translate(var(--shake-intensity), var(--shake-intensity)) rotate(var(--shake-rotation)) scale(var(--shake-scale));
	}

	50% {
		transform: translate(-1px, 0) rotate(-0.1deg) scale(1);
	}

	75% {
		transform: translate(calc(-1 * var(--shake-intensity)), var(--shake-intensity)) rotate(calc(-1 * var(--shake-rotation))) scale(var(--shake-scale));
	}
}

.buttons button span {
	display: inline-block;
	font-size: 3vw;
	line-height: 2em;
	animation: shakeScale 0.8s ease-in-out infinite;
}

.buttons .playButton span {
	font-size: 3vw;
	line-height: 2em;
}

.content {
	position: relative;
	z-index: 2;
	color: white;
	text-align: center;
}