.left, .right {
    position: absolute;
    z-index: 5;
    width: 50vw;
    height: 100vh;
	overflow: hidden;
}

.left {
	left: 0;
	overflow: hidden;
}

.right {
    right: 0;
	overflow: hidden;
}

@keyframes leftIn {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes rightIn {
	from {
		width: 1vw;
	}

	to {
		width: 50vw;
	}
}

@keyframes leftOut {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-98%);
	}
}

@keyframes rightOut {
	from {
		width: 50vw;
	}

	to {
		width: 1vw;
	}
}