.left, .right {
    position: fixed;
    z-index: 5;
    width: 50vw;
    height: 100vh;
	overflow: hidden;
}

.left img, .right img {
    width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
}

.left {
	left: 0;
	overflow: hidden;
}

.right {
    right: 0;
	overflow: hidden;
}

@keyframes leftIn {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes rightIn {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes leftOut {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes rightOut {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(100%);
	}
}